<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/stylesheets/admin-dashboard.css">
</head>
<body>   
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">aDColumn</a>
    </nav>
<script src="/javascripts/admin-dashboard.js"></script>
</body>
</html>