<div class="main">
    <div class="page-1">
        <header>
            <hr class="hr1">
            <div class="newspaper-name">
                <h3 class="day">३ मई २०२४</h3>
                <h1>इंडियन एक्सप्रेस</h1>
                <h2 class="edition">संस्करण </h2>
            </div>
            <p class="ad">hgjhvjkgfkgfkj khjgkgj khgkjhgjhgkgk jhgjkgjkhgk </p>
            
            <hr class="hr2">
        </header>
        <h2 class="main-heading">लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</h2>
        <ul class="page-1-list">
            <li>लोरेम इप्सम डोलर सीट अमेट, कंसेक्टेतुर एडिपिस्सिंग एलिट।</li>
            <li>विवामुस कॉमोडो अर्कू अच लिबेरो फिनिबुस कॉङ्गुए।</li>
            <li>क्रस अलिक्वेट डोलर इम्पेर्डिएट बिबेन्दुम यूइस्मोड।</li>
        </ul>
        <section class="container-1">
            <div class="p-1">
                <h4>कहाँ मिलेगा?</h4>
                <p>लोरेम इप्सम के पाठ के कई रूपांतरण हैं, लेकिन अधिकांश किसी रूप में परिवर्तित हो गए हैं, जो किसी कॉम्पोसिटिंग या यादृच्छिक शब्दों द्वारा, जो उस रूप में बिल्कुल भी विश्वसनीय नहीं दिखते।</p>
            </div>

            <div class="p-1">
                <h4>यह कहाँ से आया है?</h4>
                <p>लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</p>
                <p>लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</p>

            </div>

            <div class="image-1"></div>
        </section>

        <section class="news-area-1">
            <div id="slot1" class="ad-area-3 <%= bookedSlotIds.includes('slot1') ? 'booked' : 'unbooked' %>"></div>

        </section>

        <section class="news-area-2">
        </section>

        <section class="news-area-2">
        </section>
        <div class="page-no">
            <p>१</p>
        </div>
        <hr class="end-of-page">

    </div>

    <div class="page-2">
        <header>
            <hr class="hr1">
            <div class="newspaper-name">
                <h3 class="day">इंडियन एक्सप्रेस</h3>
                <p class="ad">hgjhvjkgfkgfkj khjgkgj khgkjhgjhgkgk jhgjkgjkhgk </p>
                <h2 class="edition">संस्करण </h2>
            </div>

            <hr class="hr2">
        </header>
        <h2 class="main-heading">लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</h2>
        <ul class="page-1-list">
            <li>लोरेम इप्सम डोलर सीट अमेट, कंसेक्टेतुर एडिपिस्सिंग एलिट।</li>
            <li>विवामुस कॉमोडो अर्कू अच लिबेरो फिनिबुस कॉङ्गुए।</li>
            <li>क्रस अलिक्वेट डोलर इम्पेर्डिएट बिबेन्दुम यूइस्मोड।</li>
        </ul>
        <section class="container-6">
            <div class="image-1"></div>

            <div class="p-1">
                <h4>कहाँ मिलेगा?</h4>
                <p>लोरेम इप्सम के पाठ के कई रूपांतरण हैं, लेकिन अधिकांश किसी रूप में परिवर्तित हो गए हैं, जो किसी कॉम्पोसिटिंग या यादृच्छिक शब्दों द्वारा, जो उस रूप में बिल्कुल भी विश्वसनीय नहीं दिखते।</p>
            </div>

            <div class="p-1">
                <h4>यह कहाँ से आया है?</h4>
                <p>लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</p>
                <p>लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है। लोरेम इप्सम छपाई और टाइपसेटिंग उद्योग का सिर्फ डमी पाठ है।</p>

            </div>

            
        </section>

        <section class="news-area-3">
            <div class="p-5">
                <h3>अनुभाग १.१०.३२ "डी फिनिबस बोनोरुम एट मालोरुम", ४५ ईसा पूर्व में साइसेरो द्वारा लिखित</h3>
                <span>"सेड उत पर्स्पिकिस उन्दे ओम्निस इस्ते नातुस एरर सित वोलुप्तातेम अक्कुसांतियुम डोलोरेम्क्युए लौदांतियुम, तोतां रेम अपेरिअम, एक्युए इप्सा क्वए अब इल्लो इन्वेन्तोरे वेरितातिस एत क्वासी आर्चितेक्तो बेयटेविता दिक्ता सुन्त एक्स्प्लिकाबो।</span>
                <span>नेमो एनिम इप्सां वोलुप्तातेम क्विया वोलुप्तास सित अस्पेर्नातुर अउत ओदित अउत फुगित, सेड क्विया कॉन्सेकुंटुर मग्नी डोलोरेस एओस क्वी रातिओने वोलुप्तातेम सेकुइ नेस्किउंत।</span>
                <span>नेक्वे पोर्रो क्विस्क्वाम एस्त, क्वी डोलोरेम इप्सुम क्विया डोलोर सित अमेत, कॉन्सेक्टेतुर, एडिपिस्सि वेलित, सेड क्विया नोन नुंक्वाम एइयुस मोदि तेम्पोरा इन्क्इदिउंत उत लाबोरे एत डोलोरे मग्नाम अलिक्वाम क्वाएरात वोलुप्तातेम।</span>
                <span>उत एनिम अद मिनिमा वेनियम, क्विस्क्नोस्त्रुम एक्सेर्सिटातिओं उल्लाम कोर्पोरिस सुस्किपित लाबोरिओसाम, निसी उत अलिक्विद एक्स एअ कॉम्मोदी कॉन्सेक्वातुर?</span>
                <span>क्विस्क्व्आतेम वेल एउम इउरे रेप्रेहेन्देरित क्वियि इन एआ वोलुप्ताते वेलित एस्से क्वाम निहिल मोलेस्तिए कॉन्सेक्वातुर, वेल इल्लुम क्वी डोलोरेम एउम फुगित क्वो वोलुप्तास नुल्ला पारिआतुर?"</span>
            </div>
            
            <div class="p-5">
                <h3>अनुभाग १.१०.३२ "डी फिनिबस बोनोरुम एट मालोरुम", ४५ ईसा पूर्व में साइसेरो द्वारा लिखित</h3>
                <span>"सेड उत पर्स्पिकिस उन्दे ओम्निस इस्ते नातुस एरर सित वोलुप्तातेम अक्कुसांतियुम, तोतां रेम अपेरिअम, एक्युए इप्सा क्वए अब इल्लो इन्वेन्तोरे वेरितातिस एत क्वासी आर्चितेक्तो बेयटेविता दिक्ता सुन्त एक्स्प्लिकाबो।</span>
                <span>नेमो एनिम इप्सां वोलुप्तातेम क्विया वोलुप्तास सित अस्पेर्नातुर अउत ओदित अउत फुगित, सेड क्विया कॉन्सेकुंटुर मग्नी डोलोरेस एओस क्वी रातिओने वोलुप्तातेम सेकुइ नेस्किउंत।</span>
                <span>नेक्वे पोर्रो क्विस्क्वाम एस्त, क्वी डोलोरेम इप्सुम क्विया डोलोर सित अमेत, कॉन्सेक्टेतुर, एडिपिस्सि वेलित, सेड क्विया नोन नुंक्वाम एइयुस मोदि तेम्पोरा इन्क्इदिउंत उत लाबोरे एत डोलोरे मग्नाम अलिक्वाम क्वाएरात वोलुप्तातेम।</span>
                <span>उत एनिम अद मिनिमा वेनियम, क्विस्क्नोस्त्रुम एक्सेर्सिटातिओं उल्लाम कोर्पोरिस सुस्किपित लाबोरिओसाम, निसी उत अलिक्विद एक्स एअ कॉम्मोदी कॉन्सेक्वातुर?</span>
                <span>क्विस्क्व्आतेम वेल एउम इउरे रेप्रेहेन्देरित क्वियि इन एआ वोलुप्ताते वेलित एस्से क्वाम निहिल मोलेस्तिए कॉन्सेक्वातुर, वेल इल्लुम क्वी डोलोरेम एउम फुगित क्वो वोलुप्तास नुल्ला पारिआतुर?"</span>
            </div>
            <div id="slot2" class="ad-area-3 <%= bookedSlotIds.includes('slot2') ? 'booked' : 'unbooked' %>"></div>
        </section>

        <section class="news-area-4">
            <div id="slot3" class="ad-area-3 <%= bookedSlotIds.includes('slot3') ? 'booked' : 'unbooked' %>"></div>
            <div class="p-5">
                <h3>अनुभाग १.१०.३२ "डी फिनिबस बोनोरुम एट मालोरुम", ४५ ईसा पूर्व में साइसेरो द्वारा लिखित</h3>
                <span>"सेड उत पर्स्पिकिस उन्दे ओम्निस इस्ते नातुस एरर सित वोलुप्तातेम अक्कुसांतियुम, तोतां रेम अपेरिअम, एक्युए इप्सा क्वए अब इल्लो इन्वेन्तोरे वेरितातिस एत क्वासी आर्चितेक्तो बेयटेविता दिक्ता सुन्त एक्स्प्लिकाबो।</span>
                <span>नेमो एनिम इप्सां वोलुप्तातेम क्विया वोलुप्तास सित अस्पेर्नातुर अउत ओदित अउत फुगित, सेड क्विया कॉन्सेकुंटुर मग्नी डोलोरेस एओस क्वी रातिओने वोलुप्तातेम सेकुइ नेस्किउंत।</span>
                <span>नेक्वे पोर्रो क्विस्क्वाम एस्त, क्वी डोलोरेम इप्सुम क्विया डोलोर सित अमेत, कॉन्सेक्टेतुर, एडिपिस्सि वेलित, सेड क्विया नोन नुंक्वाम एइयुस मोदि तेम्पोरा इन्क्इदिउंत उत लाबोरे एत डोलोरे मग्नाम अलिक्वाम क्वाएरात वोलुप्तातेम।</span>
                <span>उत एनिम अद मिनिमा वेनियम, क्विस्क्नोस्त्रुम एक्सेर्सिटातिओं उल्लाम कोर्पोरिस सुस्किपित लाबोरिओसाम, निसी उत अलिक्विद एक्स एअ कॉम्मोदी कॉन्सेक्वातुर?</span>
                <span>क्विस्क्व्आतेम वेल एउम इउरे रेप्रेहेन्देरित क्वियि इन एआ वोलुप्ताते वेलित एस्से क्वाम निहिल मोलेस्तिए कॉन्सेक्वातुर, वेल इल्लुम क्वी डोलोरेम एउम फुगित क्वो वोलुप्तास नुल्ला पारिआतुर?"</span>
            </div>

        </section>

        <div class="page-no">
            <p>2</p>
        </div>
        <hr class="end-of-page">
    </div>
</div>
<div class="control-panel">
    <div id="bestseller" class="bestseller"></div>
    <label for="bestseller">News Area</label>
    <div id="available" class="available"></div>
    <label for="bestseller">Available</label>
    <div id="selected" class="selected"></div>
    <label for="bestseller">Selected</label>
    <div od="sold" class="sold"></div>
    <label for="bestseller">Sold</label>
</div>

<div id="sticky-container" class="sticky-container">
    <div id="selected-names" class="selected-names"></div>
    <button id="preview-button" class="preview-button">Preview Ad</button>
    <button id="book-slot-button" class="pay-button">Book Now</button>
</div>

<!-- <button id="showUploadBtn" class="upload-button">Upload Ad</button> -->

<!-- Hidden div for uploading ad -->
<div id="uploadDiv" class="upload-div">
    <span class="close-icon" id="closeUploadDiv">&times;</span>
    <input type="file" id="imageInput" accept="image/*">
    <button id="uploadButton" class="upload-button">Upload</button>
</div>
<div id="confirmUploadDiv" class="upload-div" style="display:none;">
    <span class="close-icon" id="closeConfirmUploadDiv">&times;</span>
    <input type="file" id="confirmImageInput" accept="image/*">
    <button id="confirmBookingButton" class="confirm-booking-button">Confirm Booking</button>
</div>