
<div id="preloader">
    <div class="loader">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <h1 class="logo">aDColumn</h1>
</div>