<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <i class="ri-newspaper-fill"></i> AdColumn
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">User</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__btns">
            <div class="profile-container">
                <div class="profile-btn">
                    <i class="ri-user-line profile-icon"></i>
                </div>
                <div class="profile-dropdown">
                    <div class="profile-item">
                        <i class="ri-user-line"></i>
                        <span>Profile Information</span>
                    </div>
                    <div class="profile-item">
                        <i class="ri-history-line"></i>
                        <span>Transaction History</span>
                    </div>
                    <div class="profile-item logout-btn">
                        <i class="ri-logout-box-r-line"></i>
                        <span>Logout</span>
                    </div>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>



    </nav>
</header>