<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/stylesheets/admin-dashboard.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body> 
    <%- include('partials/admin-sidebar.ejs') %>

    <section id="content">
        <%- include('partials/admin-navbar.ejs') %>
        <main>
            <%- include('partials/form.ejs') %>
        </main>
    </section>

    <!-- <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('username').value = getUrlParameter('name');
            document.getElementById('email').value = getUrlParameter('email');
            document.getElementById('newspaperName').value = getUrlParameter('newspaper');
            document.getElementById('language').value = getUrlParameter('language');
        });
    </script> -->
    <script src="/javascripts/form.js"></script>
    <script src="/javascripts/admin-dashboard.js"></script>
</body>
</html>
