<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Page</title>
</head>
<body>
    <button id="myButton">Click Me</button>

    <script>
        const pathname = window.location.pathname;
        console.log(pathname);
        const layoutName = pathname.split('/').pop();
        const currentDate = new Date();
        console.log("Current Date:", currentDate);

        const year = currentDate.getFullYear().toString();
        let month = (currentDate.getMonth() + 1).toString();
        let day = currentDate.getDate().toString();

        if (month.length === 1) {
            month = '0' + month;
        }
        if (day.length === 1) {
            day = '0' + day;
        }

        const publishingDate = year + month + day;
        console.log("Publishing Date (YYYYMMDD):", publishingDate);
        function handleButtonClick() {
            const redirectUrl = `/users/viewSlot/${layoutName}/${publishingDate}`;

            window.location.href = redirectUrl;
        }

        document.getElementById("myButton").addEventListener("click", handleButtonClick);
    </script>
</body>
</html>