<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/newspaper3.css">
</head>
<body>
    <%- include('partials/date-navbar.ejs') %>
    <%- include('partials/newspaper3.ejs') %>

    <script src="/javascripts/indianExpress.js"></script>
</body>
</html>