@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}


h1, h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
}

h2 {
  font-size: 1.8rem;
  color: #7f8c8d;
}


.booking-details {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #ecf0f1;
  border-radius: 8px;
}

.booking-details p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.booking-details p span {
  font-weight: 600;
}


.confirmation {
  text-align: center;
}

.confirmation p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #2c3e50;
}

.button {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#confirmCancel {
  background-color: #e74c3c;
  color: #fff;
  margin-right: 1rem;
}

#confirmCancel:hover {
  background-color: #c0392b;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

#keepBooking {
  background-color: #2ecc71;
  color: #fff;
}

#keepBooking:hover {
  background-color: #27ae60;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .container {
    margin: 2rem auto;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .booking-details p {
    font-size: 1rem;
  }

  .confirmation p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
  .confirmationflexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .button {
    width: 100%; /* Ensures buttons take full width of the container */
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Centers text horizontally */
    margin-top: 10px; /* Adds space between buttons */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .booking-details p {
    font-size: 0.9rem;
  }

  .confirmation p {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  .confirmationflexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}